body 
{
    background-color: #00FFFF;
}

#usern{
    width : 350px;
    height : 25px;
}

#btn
{
    width : 120px;
    border-radius: 10px;
}

#btn:hover{
  background-color :pink;
  color : white;
  font-size: 18px;
}
table{
    margin: 40px;
    margin-top: 80px;
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
}
p{
    color: red;
    visibility: hidden;
    
}
#repobtn{
    margin-top : 10px;
    border-radius : 15px;
    width: 150px;
    height: 25px;
}
#repobtn:hover
{
  background-color :pink;
  color : white;
  font-size: 18px;
  width : 165px;
  height : 30px;
}