body 
{
    background-color: #00FFFF;
}

#usern{
    width : 350px;
    height : 25px;
}

#btn
{
    width : 120px;
    border-radius: 10px;
}

#btn:hover{
  background-color :pink;
  color : white;
  font-size: 18px;
}
table{
    margin: 40px;
    margin-top: 120px;
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
}
a{
    color: red;
    visibility: hidden;
    margin-left: 450px;
}
